.chat-item {
  margin-top: 20px;
  max-width: 500px;
  color: white;
  background-color: grey;
  border-radius: 25px;
  padding: 12px;
  font-size: 15px;
  clear: both;
  float: left;
}

.float-right {
  float: right;
  clear: both;
  background-color: #FFD700;
}