.chat-item {
  margin-top: 20px;
  max-width: 500px;
  color: black;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  clear: both;
  float: left;
}

.float-right {
  float: right;
  clear: both;
  background-color: #FFD700;
  color: white;
}