<!-- For Desktop -->
<mat-toolbar
  class="header mat-elevation-z4"
  color="primary"
  *ngIf="windowService.width > mobileWidth; else mobileView">
  <a
    (click)="titleClickHandler()"
    routerLinkActive="active"><span id="navbar-title">Beach Shop</span></a>
  <form
    color="accent"
    (keydown)="submitHandler($event)">
    <input
      [(ngModel)]="inputValue"
      name="Input"
      type="text"
      placeholder="Search for anything...">
  </form>
  <span class="spacer"></span>
  <ul>
    <span *ngIf="authenticationService.userId; else signUpOption">
      <li><a
          routerLink="/sell"
          routerLinkActive="active"><fa name="plus-circle" size="2x"></fa></a></li>
      <li><a
          [routerLink]="['/profile', authenticationService.userId]"
          routerLinkActive="active"><fa name="user" size="2x"></fa></a></li>
      <li><a
          (click)="signOutClickHandler()"
          routerLink="/"
          routerLinkActive="active"><fa name="sign-out" size="2x"></fa></a></li>
    </span>
  </ul>
</mat-toolbar>
<!-- End Desktop -->


<!-- For Mobile -->
<ng-template #mobileView>
  <mat-toolbar color="primary">
    <mat-icon
      (click)="onSearchIconToggle()"
      *ngIf="!isInputVisible; else mobileInputForm">search</mat-icon>
    <span class="spacer"></span>
    <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <div *ngIf="authenticationService.userId; else mobileSignUpOption">
        <button
          mat-menu-item
          routerLink="/sell"
          routerLinkActive="active">Sell</button>
        <button
          mat-menu-item
          [routerLink]="['/profile', authenticationService.userId]"
          routerLinkActive="active">Profile</button>
        <button
          mat-menu-item
          (click)="signOutClickHandler()"
          routerLink="/"
          routerLinkActive="active">Sign Out</button>
      </div>
    </mat-menu>
  </mat-toolbar>
</ng-template>
<!-- End Mobile -->


<!-- For Mobile Input Toggle -->
<ng-template #mobileInputForm>
  <form
    id="mobile-input-form"
    color="accent"
    (keydown)="submitHandler($event)">
    <input
      [(ngModel)]="inputValue"
      name="Input"
      autofocus
      placeholder="Search for anything..."
      (blur)="onSearchIconToggle()">
  </form>
</ng-template>
<!-- End Mobile Input Toggle -->


<!-- For Sign Up Option -->
<ng-template #signUpOption>
  <li><a [routerLink]="['/register']"><fa name="user-plus" size="2x"></fa></a></li>
  <li><a [routerLink]="['/login']"><fa name="sign-in" size="2x"></fa></a></li>
</ng-template>
<!-- End Sign Up Option -->


<!-- For Mobile Sign Up Option -->
<ng-template #mobileSignUpOption>
  <button mat-menu-item [routerLink]="['/register']">Register</button>
  <button mat-menu-item [routerLink]="['/login']">Sign In</button>
</ng-template>
<!-- End Mobile Sign Up Option -->