.spacer { flex: 1 1 auto; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

mat-toolbar { height: 115px; }

mat-form-field { width: 25%; }

ul {
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding-left: 10px;
  display: inline;
  text-align: right;
}

li:hover {
  opacity: 0.6;
  cursor: pointer;
}

#navbar-title {
  font-size: 24px;
  margin-right: 25px;
}

#account-icon,
#sell-icon {
  position: relative;
  top: 6px;
}

#mobile-input-form {
  width: 80%;
}