<mat-toolbar
  id="navbar"
  color="accent"
  *ngIf="windowService.width > mobileWidth; else mobileView">
  <span id="navbar-title">Murgaloids</span>
  <mat-form-field>
    <input matInput placeholder="Search for anything...">
  </mat-form-field>
  <span class="spacer"></span>
  <ul>
    <span *ngIf="accountService.isUserLoggedIn()">
      <li id="account-icon">
        <a>
          <mat-icon
            class="material-icons"
            routerLink="/profile"
            routerLinkActive="active">account_circle</mat-icon>
          </a>
        </li>
      <li id="sell-icon"><a><mat-icon class="material-icons">attach_money</mat-icon></a></li>
    </span>
    <li
      id="signup-option"
      *ngIf="!accountService.isUserLoggedIn()"><a>Sign Up</a></li>
    <li id="login-option"><a (click)="onSignInToggle()">{{accountService.active}}</a></li>
  </ul>
</mat-toolbar>

<ng-template #mobileView>
  <mat-toolbar id="navbar" color="accent">
    <mat-icon
      class="material-icons"
      (click)="onSearchIconToggle()"
      *ngIf="!isInputVisible; else mobileInputForm">search</mat-icon>
    <span class="spacer"></span>
    <mat-icon
      class="material-icons"
      [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a
          routerLink="/profile"
          routerLinkActive="active">Profile</a>
      </button>
      <button mat-menu-item>
        <a>Sell</a>
      </button>
      <button mat-menu-item>
        <a (click)="onSignInToggle()">{{accountService.active}}</a>
      </button>
    </mat-menu>
  </mat-toolbar>
</ng-template>

<ng-template #mobileInputForm>
  <mat-form-field id="mobile-input-form">
    <input
      autofocus
      matInput
      placeholder="Search for anything..."
      (blur)="onSearchIconToggle()">
  </mat-form-field>
</ng-template>