@import '~@angular/material/theming';
@import '../../../beach-shop-theme.scss';
@include mat-core();

input {
  font-size: 16px;
  border: none;
  border-radius: 100px;
  background-color: #fafafa;
  padding: 5px 16px;
  margin-left: 8px;
  width: 150%;
  max-width: 200%;
  height: 50%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  font-size: 14px;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding-left: 10px;
  display: inline;
  text-align: right;
}

li:hover {
  opacity: 0.6;
  cursor: pointer;
}

#navbar-title {
  font-size: 24px;
  margin-right: 25px;
}

#navbar-title:hover {
  opacity: 0.5;
  cursor: pointer;
}

#mobile-input-form,
#mobile-input-form input {
  width: 80%;
}

.spacer { flex: 1 1 auto; }

mat-toolbar {
  padding-left: 30px;
  padding-right: 30px;
}

// .message-icon:after{
//   content:"!";
//   position: relative;
//   height: 2rem;
//   bottom: 4px;
//   width: 2rem;
//   text-align: center;
//   font-size: 20px;
//   color: red;
// }