<div
*ngIf="!authenticationService.isProcessing; else loading"
class="container app-login">
  <h1 class="header">Sign in to BeachShop</h1>
  <form autocomplete="off">
    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Email Address"
          [value]="authenticationService.email"
          (input)="onEmailChange($event.target.value)" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          [value]="authenticationService.password"
          (input)="onPasswordChange($event.target.value)" />
      </mat-form-field>
    </div>

    <div *ngIf="authenticationService.hasError" class="error">Unable to login user</div>

    <div>
      <button
        type="submit"
        mat-button
        color="primary"
        (click)="submitHandler()">Sign In</button>
    </div>
  </form>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>