<div
  class="chatroom"
  *ngIf="messagingService.messages.length > 0">
    <h1>{{ messagingService.conversationDetails.studentName }}</h1>

    <mat-divider></mat-divider>

    <ul class="chats">
      <li *ngFor="let chat of messagingService.messages">
        <app-chat-item
        [chat]="chat"
        [position]="chat.senderId === authenticationService.userId ? 'right' : 'left'"></app-chat-item>
      </li>
    </ul>

    <form
      autocomplete="off"
      (submit)="onSubmit()">
      <mat-form-field>
        <input
          matInput
          placeholder="Send a message"
          name="message"
          [(ngModel)]="message" />
      </mat-form-field>
    </form>
</div>
