<div
  class="message-detail"
  *ngIf="messagingService.conversationDetails.id &&
    messagingService.conversationDetails.student;
    else selectConversationTemplate">
    <a
      class="message-detail__student-link"
      [routerLink]="['/profile', messagingService.conversationDetails.student.id]">
      <h1 class="message-detail__header">{{ messagingService.conversationDetails.student.name }}</h1>
    </a>

    <mat-divider></mat-divider>

    <ul #messages class="message-details__messages">
      <li *ngFor="let chat of messagingService.messages">
        <app-chat-item
          [chat]="chat"
          [position]="chat.senderId === authenticationService.userId ? 'right' : 'left'"></app-chat-item>
      </li>
    </ul>

    <form
      class="message-detail__form"
      autocomplete="off"
      (submit)="onSubmit()">
      <mat-form-field class="message-detail__form-input">
        <input
          matInput
          placeholder="Send a message"
          name="message"
          [(ngModel)]="message" />
      </mat-form-field>
    </form>
</div>

<ng-template #selectConversationTemplate>
  <div
    class="chatroom"
    *ngIf="messagingService.conversations.length > 0">
    <h1>Select a conversation to chat!</h1>
  </div>

  <div
    class="chatroom"
    *ngIf="messagingService.conversations.length === 0">
    <h1>You currently do not have any conversations. Start searching for items!</h1>
  </div>
</ng-template>