h1 { font-size: 24px; }

.chatroom {
  height: 100%;
  width: 100%;
}

.messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

mat-form-field,
input {
  width: 100%;
}

form {
  margin-top: 25px;
}