.center-text { text-align: center; }
.item-card {
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 250px;
  max-width: 250px;
  min-height: 300px;
  max-height: 300px;
}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 30%;
}

.seller {
  position: absolute;
  bottom: 0;
}

.header {
  justify-content: space-between;
}
