<div *ngIf="ready">
  <mat-card
    class="item-card"
    (mouseover)="hover = true"
    (mouseout)="hover = false"
    [ngClass]="{
      'center-text': windowService.width < mobileWidth,
      'animated pulse': hover === true
    }"
    [routerLink]="['/item', item.id]">
    <mat-card-header>
      <mat-card-title><b>{{ item.itemName }}</b></mat-card-title>
      <mat-card-subtitle><b>${{ item.price }}</b></mat-card-subtitle>
      <button class="edit-item" *ngIf="soldByThisStudent" mat-icon-button>
        <mat-icon [routerLink]="['/edit-item', item.id]"aria-label="edit-item">settings</mat-icon>
      </button>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ item.imageSource }}">
    <mat-card-content>
      <p *ngIf="item.description.length < 60; else limitedDescription">{{ item.description }}</p>
      <div
        *ngIf="!router.url.includes('/profile')"
        class="seller">
        <a>Student Seller:</a>
        <a [routerLink]="['/profile', item.sellerId]">{{ sellerName }}</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #limitedDescription>
  <p>{{ item.description.substring(0, 60)}}...</p>
</ng-template>
