<mat-card
  class="item-card"
  [ngClass]="{'center-text': windowService.width < mobileWidth}"
  [routerLink]="['/item', item.id]">
  <div class="row">
    <div class="col-md-4">
      <img mat-card-lg-image class="img-fluid" src="{{ item.imageSrc }}"/>
    </div>
    <div class="col-md-8">
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>${{ item.price }}</mat-card-subtitle>
      <rating [(ngModel)]="item.rating" [readonly]="true"></rating>
      <mat-card-content>{{ item.aboutDesc }}</mat-card-content>
    </div>
  </div>
</mat-card>
