<div class="container app-sell-item-page">
  <h1 class="header">Sell an Item</h1>

  <form autocomplete="off">
    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Item Name"
          name="Item Name"
          [(ngModel)]="item.itemName" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-select
          matInput
          placeholder="Condition"
          name="Item Condition"
          [(ngModel)]="itemCondition">
          <mat-option value="Good">Good</mat-option>
          <mat-option value="Fair">Fair</mat-option>
          <mat-option value="Poor">Poor</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-select
          matInput
          placeholder="Category"
          name="Item Cateogry"
          [(ngModel)]="itemCategory">
          <mat-option value="Books">Books</mat-option>
          <mat-option value="Electronics">Electronics</mat-option>
          <mat-option value="Clothes">Clothes</mat-option>
          <mat-option value="Furniture">Furniture</mat-option>
          <mat-option value="Appliances">Appliances</mat-option>
          <mat-option value="Supplies">Supplies</mat-option>
          <mat-option value="Media">Media</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          name="Item Description"
          matAutosizeMinRows="1"
          matAutosizeMatRows="5"
          [(ngModel)]="item.description"></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Price"
          name="Item Price"
          type="number"
          [(ngModel)]="item.price" />
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>

    <div *ngIf="isLoading" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
        aria-valuemin="0" aria-valuemax="100"
        [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
    </div>

    <input type="file" #imgFileInput (change)="selectFile($event)"/>

    <button
      type="submit"
      mat-button
      color="primary"
      (click)="submitHandler()">Submit</button>
  </form>
</div>
