<form>
  <div class="form-group">
    <label for="itemName">Item Name</label>
    <input type="text" class="form-control" id="itemName" [(ngModel)]="item.name" name="Item Name" required>
  </div>
  <div class="form-group">
    <label for="sellerID">Seller ID</label>
    <input type="text" class="form-control" id="sellerID" [(ngModel)]="item.seller" name="Seller ID" required>
  </div>
  <div class="form-group">
    <label for="conditionTypeID">Condition Type ID</label>
    <input type="text" class="form-control" id="conditionTypeID" [(ngModel)]="item.conditionType" name="Condition Type ID" required>
  </div>
  <div class="form-group">
    <label for="categoryTypeID">Category Type ID</label>
    <input type="text" class="form-control" id="categoryTypeID" [(ngModel)]="item.categoryType" name="Category Type ID" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" [(ngModel)]="item.aboutDesc" name="Description" required>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" [(ngModel)]="item.price" name="Price" required>
  </div>
  <div class="form-group">
    <label for="isItemSold">Is Item Sold</label>
    <input type="text" class="form-control" id="isItemSold" [(ngModel)]="item.isItemSold" name="Is Item Sold" required>
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input type="text" class="form-control" id="rating" [(ngModel)]="item.rating" name="Rating" required>
  </div>
  <div class="form-group">
    <label for="pictureURL">Picture URL</label>
    <input type="text" class="form-control" id="pictureURL" [(ngModel)]="item.imageSrc" name="Picture URL" required>
  </div>
   <button type="submit" (click)="submit()">Submit</button>
</form>
