.welcome {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__header { font-size: 56px; }
.welcome__sub-header {
  font-size: 24px;
  margin-bottom: 20px;
}