h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
}

.about-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile {
  display: block;
  margin: 0 auto;
}

.message-text-box {
  width: 100%;
}