<div *ngIf="ready" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="profile-picture-container">
        <h1>{{ student.name }}</h1>
        <img class="profile img-fluid" src="{{ student.imageSource !== null ? student.imageSource : 'assets/images/default-profile-image.png' }}">
      </div>

      <div class="about-container">
        <h2>About</h2>
        <p>{{ student.description }}</p>
      </div>

      <div class="button-container">
        <button mat-raised-button color="primary" [routerLink]="['/edit-profile']"
          *ngIf="id === authenticationService.userId" class="edit-profile-button">Edit Your Profile</button>
        <button mat-raised-button color="primary" (click)="openMessageDialog()"
          *ngIf="id != authenticationService.userId" class="message-user-button">Message {{ student.name }}</button>
      </div>
    </div>

    <div class="col-xs-12 col-md-9">
      <div
        class="selling-items-container"
        *ngIf="student.itemsForSale.length > 0">
        <h2>Selling Items</h2>
        <div class="row">
          <div *ngFor="let item of student.itemsForSale; let i = index">
            <div class="clearfix" *ngIf="i % 3 == 0"></div>
            <div class="col-md-4">
              <app-item-card [item]="item"></app-item-card>
            </div>
          </div>
        </div>
      </div> <!-- end of selling-items-container -->

      <div
        class="sold-items-container"
        *ngIf="student.itemsSold.length > 0">
        <h2>Sold Items</h2>
        <div class="row">
          <div *ngFor="let item of student.itemsSold; let i = index">
            <div class="clearfix" *ngIf="i % 3 == 0"></div>
            <div class="col-md-4">
              <app-item-card [item]="item"></app-item-card>
            </div>
          </div>
        </div>
      </div> <!-- end of sold-items-container -->
    </div> <!-- end of col-md-9 -->
  </div> <!-- end of row -->
</div>
