.profile__header {
  margin-bottom: 20px;
  font-size: 40px;
}

.profile__subheader {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
}

.profile__about-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile__image {
  display: block;
  margin: 0 auto;
}

.message-text-box {
  width: 100%;
}