<div class="appcontainer">
  <div class="row">
    <div class="col">
      <h1>Welcome back, Derrick!</h1>
      <img class="profile" src="https://avatars0.githubusercontent.com/u/10682341?s=400&v=4">
      <h2>About Derrick</h2>
      <p>
        Hi! I'm Derrick. I'm a computer science major at CSULB and I
        have lots of stuff to sell! For now this is just a hard
        coded bio, but eventually you'll be reading this bio after
        it's retreived from a data base!
      </p>
    </div>
    <div class="col-9">
      <h2>Selling Items</h2>
      <div>
        <img class="img-reponsive" src="https://store.storeimages.cdn-apple.com/4974/as-images.apple.com/is/image/AppleInc/aos/published/images/T/V9/TV901/TV901_AV1?wid=1000&hei=1000&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1465509119024">
        <img class="img-reponsive" src="https://www.obaku.com/content/collection/V213GUCURZ.jpg">
        <img class="img-reponsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjNKRtgGPWEqw9T5cETltCf8IVKcrtoCNPlJiW12-3EjNIXmo">
        <img class="img-reponsive" src="https://www.umsl.edu/technology/frc/images/student-iclicker.png">
      </div>
      <h2>Recently Viewed Items</h2>
      <div>
        <img class="img-reponsive" src="https://www.goodsamaritan.ms/uploads/1/2/7/7/12777965/s736176615899143325_p466_i1_w1200.jpeg">
        <img class="img-reponsive" src="http://www.hobbycraft.co.uk/supplyimages/597152_1000_1_800.jpg">
        <img class="img-reponsive" src="https://i5.walmartimages.com/asr/1afc32ce-b86e-4545-aae8-fe0fb6d1dd6c_1.1123d86c3a7f30ef2dcebb1582a1dc4f.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
        <img class="img-reponsive" src="https://gloimg.gbtcdn.com/gb/pdm-product-pic/Electronic/2017/07/18/goods-img/1500610680603760593.jpg">
      </div>
    </div>
  </div>
</div>
