h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
}

.profile {
  display: block;
  border-radius: 25px;
  margin: 0 auto;
}

.action-icon-container {
  margin-top: 20px;
}

.action-icon-container a:hover {
  opacity: 0.7;
  cursor:pointer;
}

.message-text-box {
  width: 100%;
}