h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
}

h2 {
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 30px;
}

.header,
.edit-item {
  display: inline;
}

.edit-item {
  bottom: 10px;
}

.edit-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.image-container {
  margin-top: 25px;
}