.application__header {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
}

.item_details__subheader {
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 30px;
}

.application__header,
.item-details__edit-item-button {
  display: inline;
}

.item-details__edit-item-button {
  bottom: 10px;
}

.item-details__edit-item-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.item_details__image-container {
  margin-top: 25px;
}

.item_details__user-profile-link {
  color: black;
}

.item_details__user-profile-link:hover {
  color: gray;
  text-decoration: none;
}