<div *ngIf="itemsService.mIsDataSet" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <img class="img-fluid" src="{{ itemsService.displayedItem.imageSource }}">
    </div>
    <div class="col-xs-12 col-md-3">
      <h1>{{ itemsService.displayedItem.itemName }}</h1>
      <div *ngIf="itemsService.displayedItem.itemRated">
        <rating class="star-icon" [(ngModel)]="itemsService.displayedItem.rating" [readonly]="true"></rating>
      </div>
      <h2>${{ itemsService.displayedItem.price }}</h2>
      <p>{{ itemsService.displayedItem.description }}</p>
    </div>
  </div>
</div>
