<div *ngIf="ready" class="container">
  <button class="edit-item" *ngIf="soldByThisStudent" mat-icon-button>
    <fa [routerLink]="['/edit-item', itemsService.displayedItem.id]" name="edit" size="2x"></fa>
  </button>
  <h1 class="header">{{ itemsService.displayedItem.itemName }}</h1>
  <div class="row">
    <div class="image-container col-md-5">
      <img class="img-fluid" src="{{ itemsService.displayedItem.imageSource }}">
    </div>
    <div class="col-md-5 mx-auto">
      <div *ngIf="itemsService.displayedItem.itemRated">
        <rating class="star-icon" [(ngModel)]="itemsService.displayedItem.rating" [readonly]="true"></rating>
      </div>
      <h2>${{ itemsService.displayedItem.price }}</h2>
      <mat-tab-group>
        <mat-tab label="Description">{{ itemsService.displayedItem.description }}</mat-tab>
        <mat-tab label="Seller">
          <a class="user-profile-link" [routerLink]="['/profile', seller.id]"><h2>{{ seller.name }}</h2></a>
          <p *ngIf="seller.aboutDesc.length && seller.aboutDesc.length < 150; else limitedSellerDescription">{{ seller.aboutDesc }}</p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #limitedSellerDescription>
  <p>{{ seller.aboutDesc.substring(0, 150)}}...</p>
</ng-template>