<div *ngIf="ready" class="item-details">
  <button class="item-details__edit-item-button" *ngIf="soldByThisStudent" mat-icon-button>
    <fa [routerLink]="['/edit-item', itemsService.displayedItem.id]" name="edit" size="2x"></fa>
  </button>

  <h1 class="application__header">{{ itemsService.displayedItem.itemName }}</h1>

  <div class="row">
    <div class="item_details__image-container col-md-5">
      <img class="img-fluid" src="{{ itemsService.displayedItem.imageSource }}">
    </div>

    <div class="col-md-5 mx-auto">
      <h2 class="item_details__subheader" *ngIf="!itemsService.displayedItem.itemSold">${{ itemsService.displayedItem.price }}</h2>
      <h2 class="item_details__subheader" *ngIf="itemsService.displayedItem.itemSold"><b>Sold</b></h2>

      <mat-tab-group>
        <mat-tab label="Description">{{ itemsService.displayedItem.description }}</mat-tab>
        <mat-tab label="Seller">
          <a class="item_details__user-profile-link" [routerLink]="['/profile', seller.id]"><h2>{{ seller.name }}</h2></a>
          <p *ngIf="seller.description.length && seller.description.length < 150; else limitedSellerDescription">{{ seller.description }}</p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #limitedSellerDescription>
  <p>{{ seller.description.substring(0, 150)}}...</p>
</ng-template>