<div
*ngIf="!authenticationService.isProcessing; else loading"
class="register">
  <h1 class="application__header">Register for BeachShop</h1>

  <form
    autocomplete="off"
    (submit)="submitHandler($event)">
    <div>
      <mat-form-field class="register__form">
        <input
          matInput
          placeholder="First Name"
          [value]="authenticationService.firstName"
          (input)="onFirstNameChange($event.target.value)" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="register__form">
        <input
          matInput
          placeholder="Last Name"
          [value]="authenticationService.lastName"
          (input)="onLastNameChange($event.target.value)" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="register__form">
        <input
          matInput
          placeholder="Email Address"
          [value]="authenticationService.email"
          (input)="onEmailChange($event.target.value)" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="register__form">
        <input
          matInput
          placeholder="Password"
          type="password"
          [value]="authenticationService.password"
          (input)="onPasswordChange($event.target.value)" />
      </mat-form-field>
    </div>

    <div *ngIf="authenticationService.hasError" class="application__error">Unable to signup user</div>

    <div>
      <button
        class="register__button"
        type="submit"
        mat-button
        color="primary"
        (click)="submitHandler($event)">Register</button>
    </div>
  </form>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>