.register {
  margin-top: 100px;
  text-align: center;
}

.register__button { font-size: 18px; }
.register__form { width: 50%; }

@media only screen and (max-width: 768px) {
  .register__form { width: 85%; }
}